<h2>All the books!</h2>
<% books.forEach(function(b) {%>
	<div>
		<h3>
			<a href="/books/<%=b.id%>"><%=b.title %> </a>by <%= b.author %>
		</h3>
		<p>It's <%= b.pages %> pages long!%></p>
	</div>
<%});%>